body{
    margin: 0px 0px 0px 0px;
    background-color: #ECEEDF;
}
#title{
    display: flex;
    height: 200px;
    background-color: #BBDCE5;
}
#logo{
    width: 25%;
}
#name{
    font-size: 40px;
    font-weight: bold;
    width: 60%;
    text-align: center;
}
.option{
    text-decoration: none;
    margin-top: 7px;
    display: flex;
    font-size: larger;
    color: white;
}
#bar{
    width: auto;
    display: flex;
    position: sticky; 
    justify-content: space-around;
    top: 0;
    height: 40px;
    background-color: #333;
}
marquee{
    margin-top: 10%;
}
.cmp{
    padding-top: 10%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#companies{
    margin-top: 50%;
}
#footer{
    padding-top:5% ;
    display: flex;
    justify-content: center;
    height: 450px;
    background-color: #0c2b57;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.cmplogo{
    display: flex;
    justify-content: center;
}
.about{
    font-size: 20px;
}
.mail-link:hover{
  color: #ff6600;           
  text-decoration: underline;
}
.mail-link{
  color: yellowgreen;
}
.mail:hover{
    color:gold;
}
#bottomlogo{
    height: 400px;
}
#logo1{
    height: 200px;
}
.logo2{
    height: 300px;
}
#copy{
    text-align: center;
}
@media(max-width:600px){
    .cmp{
        font-size: 20px;
    }
    #bottomlogo{
        height: 130px;
    }
    .about{
        font-size: 7px;
    }
    .logo2{
        height: 150px;
    }
    #footer{
        height:225px;
    }
    #logo1{
        height: 100px;
    }
    #title{
        height: 150px;
    }
    #name{
        font-size: 20px;
    }
}
